{% extends 'base.html' %}

{% block title %}Resume Task: {{ task.name }}<{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/resumetask.css' %}">
{% endblock %}

{% block content %}
<div class="resume-card">
  <div class="task-name">{{ task.name }}</div>
  <div class="task-desc">
    {{ task.description|default:"No description." }}
  </div>

  {% if active_entry %}
  <div>
    Started at:
    <strong>{{ active_entry.start_time|date:"Y-m-d H:i:s" }}</strong>
  </div>
  <div id="elapsed-timer" class="timer" data-start-time="{{ active_entry.start_time.timestamp|floatformat:'0' }}">00:00:00</div>

  <form method="post">
    {% csrf_token %}
    <div class="btn-group">
      <button type="submit" name="stop" class="btn btn-danger">Stop</button>
      <a
        href="{% url 'project_detail' pk=task.project.pk %}"
        class="btn btn-secondary"
        >Cancel</a
      >
    </div>
  </form>

  {% else %}
  <div class="timer text-muted">Timer is stopped</div>
  <form method="post">
    {% csrf_token %}
    <div class="btn-group">
      <button type="submit" name="start" class="btn btn-success">
        Start
      </button>
      <a
        href="{% url 'project_detail' pk=task.project.pk %}"
        class="btn btn-secondary">Back to Project</a>
    </div>
  </form>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/task_timer.js' %}"></script>
{% endblock %}